<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DID Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ustclab.emoji.manager.mapper.EmojiMapper">
    <sql id="emoji_attributes">
        emoji_id, emoji_code, timestamp
    </sql>
    <sql id="emoji_user_attributes">
        emoji_id, emoji_code, user_name sender_name, timestamp time
    </sql>
    <select id="get" resultType="Emoji">
        SELECT <include refid="emoji_attributes"/>
        FROM emoji
        <where>
            <if test="startTimestamp != null">
                and timestamp >= #{startTimestamp}
            </if>
            <if test="endTimestamp != null">
                and timestamp &lt;= #{endTimestamp}
            </if>
        </where>
    </select>

    <select id="getAll" resultType="EmojiVo">
        SELECT <include refid="emoji_attributes"/>
        FROM emoji e
        JOIN user u
        ON u.user_id = e.sender_id
        ORDER BY emoji_id
    </select>

</mapper>