<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DID Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ustclab.emoji.manager.mapper.UserMapper">
    <sql id="user_attributes">
        user_id, password, role, email, user_name, avatar, last_login_time, status, create_time, update_time
    </sql>

    <select id="getByUserName" resultType="User">
        SELECT
            <include refid="user_attributes"/>
        FROM user
        WHERE user_name = #{userName}
        AND status = 1
        AND role = 1
    </select>

    <select id="getByPage" parameterType="UserDto" resultType="User">
        SELECT <include refid="user_attributes"/>
        FROM user
        <where>
            <if test="keyword != null and keyword != ''">
                and user_name like concat('%',#{keyword},'%')
            </if>

            <if test="createTimeBegin != null and createTimeBegin != ''">
                and create_time >= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null and createTimeEnd != ''">
                and create_time &lt;= #{createTimeEnd}
            </if>
        </where>
        order by user_id desc
    </select>

    <insert id="insert" parameterType="User">
        INSERT INTO `user` (`password`, email, `user_name`, `status`, role) VALUES
        (#{password}, #{email}, #{userName}, TRUE, 1);
    </insert>

</mapper>